[Unit]
Description=Firewall solution for ZeroC ICE
After=syslog.target
After=network.target

[Service]
Type=forking
PIDFile=/run/glacier2router.pid
User=iceuser
Group=iceuser
ExecStart=/usr/bin/glacier2router --Ice.Config=/etc/glacier2router.conf

[Install]
WantedBy=multi-user.target
