[Unit]
Description=Deployment and monitoring server for ZeroC ICE (slave node)
After=syslog.target
After=network.target

[Service]
Type=forking
PIDFile=/run/icegridnode.pid
User=iceuser
Group=iceuser

ExecStart=/usr/bin/icegridnode --Ice.Config=/etc/icegridnode.conf

[Install]
WantedBy=multi-user.target
